<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.bookaholic">

    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bookaholic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        /9"
        <activity android:name=".ScienceActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".QuestionBank" />
        <activity android:name=".HighscoreActivity" />
        <activity android:name=".DrawerActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Light_theory" />
        <activity android:name=".Energy" />
        <activity android:name=".HealthActivity" />
        <activity android:name=".ComicActivity" />
        <activity android:name=".HiistoryActivity" />
        <activity android:name=".login"></activity>
    </application>

</manifest>